<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_STORE_OR_AD_HOC_BUILD</key>
	<string>YES</string>
	<key>DEVELOPMENT_APP_SECRET</key>
	<string>Ipf0YiCcSn6lRG2eLgcldg</string>
	<key>DEVELOPMENT_APP_KEY</key>
	<string>ye_DhGL8SR6HoDKYRR_bEQ</string>
	<key>PRODUCTION_APP_KEY</key>
	<string>DqEUgyYRQvOAW5MWgY0q8Q</string>
	<key>PRODUCTION_APP_SECRET</key>
	<string>HfrnyPPWSsuFfowkX3ZFHg</string>
</dict>
</plist>
