<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>modules</key>
	<array>
		<dict>
			<key>Interface</key>
			<string>MainInformation</string>
			<key>ID</key>
			<string>selfhub.antropometry</string>
			<key>ExchangeFile</key>
			<string>antropometry.export.plist</string>
			<key>Type</key>
			<integer>0</integer>
			<key>Show</key>
			<true/>
		</dict>
		<dict>
			<key>Interface</key>
			<string>WeightControl</string>
			<key>ID</key>
			<string>selfhub.weight</string>
			<key>ExchangeFile</key>
			<string>weight.export.plist</string>
			<key>Type</key>
			<integer>0</integer>
			<key>Show</key>
			<true/>
		</dict>
		<dict>
			<key>Interface</key>
			<string>ExampleModule</string>
			<key>ID</key>
			<string>selfhub.example</string>
			<key>ExchangeFile</key>
			<string>example.export.plist</string>
			<key>Type</key>
			<string>0</string>
			<key>Show</key>
			<false/>
		</dict>
		<dict>
			<key>Interface</key>
			<string>Medarhiv</string>
			<key>ID</key>
			<string>selfhub.medarhiv</string>
			<key>ExchangeFile</key>
			<string>medarhiv.export.plist</string>
			<key>Type</key>
			<integer>0</integer>
			<key>Show</key>
			<false/>
		</dict>
		<dict>
			<key>Interface</key>
			<string>Withings</string>
			<key>ID</key>
			<string>selfhub.withings</string>
			<key>ExchangeFile</key>
			<string>withings.export.plist</string>
			<key>Type</key>
			<integer>0</integer>
			<key>Show</key>
			<true/>
		</dict>
		<dict>
			<key>Interface</key>
			<string>ImportWeight</string>
			<key>ID</key>
			<string>selfhub.weightimport</string>
			<key>ExchangeFile</key>
			<string>importweight.export.plist</string>
			<key>Type</key>
			<integer>0</integer>
			<key>Show</key>
			<true/>
		</dict>
		<dict>
			<key>Interface</key>
			<string>InvitroModule</string>
			<key>ID</key>
			<string>selfhub.invitro</string>
			<key>ExchangeFile</key>
			<string>invitro.export.plist</string>
			<key>Type</key>
			<integer>0</integer>
			<key>Show</key>
			<false/>
		</dict>
		<dict>
			<key>Interface</key>
			<string>AngioscanModule</string>
			<key>ID</key>
			<string>selfhub.angioscan</string>
			<key>ExchangeFile</key>
			<string>angioscan.export.plist</string>
			<key>Type</key>
			<integer>0</integer>
			<key>Show</key>
			<false/>
		</dict>
		<dict>
			<key>Interface</key>
			<string>VitaportalModule</string>
			<key>ID</key>
			<string>selfhub.vitaportal</string>
			<key>ExchangeFile</key>
			<string>vitaportal.export.plist</string>
			<key>Type</key>
			<integer>0</integer>
			<key>Show</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
